* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #36393f;

}

.container {
    display: flex;
    height: 90vh;
    width: 90vw;
    color: #b9bbbe;
    border: 2px solid #40444b;
    border-radius: 5px;
}

.server-list {
    width: 5%;
    background-color: #202225;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.server-icon {
    width: 40px;
    height: 40px;
    background-color: #5865f2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.channel-list {
    width: 15%;
    background-color: #2f3136;
    padding: 20px;
}

.channel {
    padding: 8px 0;
    cursor: pointer;
}

.iconss {
    position: relative ; 
    font-size: 22px;
    top: 26rem; 
    left: 0.7rem; 
    display: flex; 
    gap: 1.4rem; 
  }

.chat-area {
    width: 60%;
    background-color: #36393f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid #40444b;
    border-radius: 5px;
}

.chat-message {
    flex-grow: 1;
    margin-bottom: 20px;
}

.chat-input {
    display: flex;
    gap: 10px;
}

.chat-input input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #40444b;
    color: white;
    font-family: 'Inter', sans-serif;
}

/* Gönder Butonu Stili */
.send-button {
    background-color: #5865f2;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    font-family: 'Inter', sans-serif;
}

.user{
    border: 2px solid #40444b;
    border-radius: 5px;
    margin: 5px 5px;
    padding: 5px 5px;
    border-style: ridge;
    margin-left: 1rem;
}

.user i{
    margin-right: 0.74rem;
    margin-left: 0.4rem;
}

.user-list h2{
    margin-left: 1rem;
}

.send-button:hover {
    background-color: #4752c4;
}
